p{
    font-family: 'Quicksand', Arial, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}

h1{
    font-family: 'Geostar Fill', cursive;
    font-size: 80px;
    text-align: center;
    margin: 80px auto 80px auto;
    width: 50%;
    border: 2px dashed;
    padding: 20px 10px 20px 10px;
}
