body {
    background-color: rgb(147, 255, 250);
}

div p {
    background-color: rgb(255, 253, 129);
}

h2 {
    color: rgb(130, 10, 167);
}

#itemone {
    text-decoration: overline;
    color: rgb(130, 10, 167);
}

#textblock {
    border: 5px solid gray;
  width: 200px;
  height: 50px;
}

input {
    border: red solid 1px;
}

.exit{
    background-color: blue;
    border: 4px dashed yellow;
}

a:visited{
    color:blue
}