.yellow-text{
    color:orange;
    font-size: 20px;
}

.big-text{
    font-size: 40px;
}

#europe-text{
    font-size: 10px;
    color: blue;
}

li{
    color: cornsilk;
}
body{
    background-image: url(https://preview.redd.it/a86m3ju4lcc51.png?width=1920&format=png&auto=webp&s=e0c8685989322d3859d85563f9537c0bed5009bd);
    background-repeat: no-repeat;
    background-size: cover;
}
